.auth__signin {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400; 
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.auth__signin p {
  margin-right: 10px;
}